<div class="container">
  <aside>
    <h3>Folders</h3>
    <form action="/app/create-folder" method="post">
      <input type="text" name="folder" id="folder" placeholder="folder name" />
      <input type="submit" value="create" />
    </form>
    <div class="folder-list">
      <ul>
        <li><a href="/app/Link1">Link 1</a></li>
        <li><a href="/app/Link2">Link 2</a></li>
        <li><a href="/app/Link3">Link 3</a></li>
      </ul>
    </div>
  </aside>
  <section>
    <h2>
      Link 1
    </h2>
    <hr />
    <form action="/app/upload-file" method="post" enctype="multipart/form-data">
      <input type="file" name="file[file]" id="file" />
      <input type="submit" value="upload" />
    </form>
    <hr />
    {{! Files Container }}
    <div class="files-container">
      {{#each files}}
        <div class="file">
          {{! For Images }}
          {{#if isImage}}
            <img src="{{this.pathToFile}}" alt="Not Found" class="image" />
          {{/if}}
          {{! End Images }}
          {{! For Audios }}
          {{#if isAudio}}
            <audio controls>
              <source
                src="{{this.pathToFile}}"
                type="{{this.type}}/{{this.format}}"
              />
              Your browser does not support the audio element.
            </audio>
          {{/if}}
          {{! End Audio }}
          {{! For Videos }}
          {{#if IsVideo}}
            <video width="100%" height="200" controls>
              <source src="{{this.pathToFile}}" type="video/{{this.format}}" />
              Your browser does not support the video tag.
            </video>
          {{/if}}
          {{! End Video }}
        </div>
      {{/each}}
      {{! End Each Files }}
    </div>
    {{! End Files Container }}
  </section>
  <div class="clear" style="clear: both;"></div>
  {{! End  Section}}
</div>