<div class="container">
  <aside>
    <h3>Folders</h3>
    <form action="/app/create-folder" method="post">
      <input
        type="text"
        name="folder"
        id="folder"
        placeholder="folder name"
        required
      />
      <input style="display: none;" name="url" value="{{url}}" />
      <input type="submit" value="create" />
    </form>
    <div class="folder-list">
      <ul>
        {{#each FOLDERS}}
          <li><a href="/app/{{this.name}}">{{this.name}}</a></li>
        {{/each}}
      </ul>
    </div>
  </aside>
  <section>
    <h2>
      {{url}}
    </h2>
    <hr />
    <form action="/app/upload-file" method="post" enctype="multipart/form-data">
      <input type="file" name="file[file]" id="file" />
      <input style="display: none;" name="url" value="{{url}}" />
      <input type="submit" value="upload" />
    </form>
    <hr />
    {{! Files Container }}
    <div class="files-container">
      {{#each files}}
        <div class="file">
          {{! For Images }}
          {{#if this.isImage}}
            <img
              src="/images/{{this.url}}/{{this.name}}"
              alt="Not Found"
              class="image"
            />
          {{/if}}
          {{! End Images }}
          {{! For Audios }}
          {{#if this.isAudio}}
            <audio controls>
              <source
                src="/images/{{this.url}}/{{this.name}}"
                type="{{this.type}}/{{this.format}}"
              />
              Your browser does not support the audio element.
            </audio>
          {{/if}}
          {{! End Audio }}
          {{! For Videos }}
          {{#if this.isVideo}}
            <video class="video" controls>
              <source
                src="/images/{{this.url}}/{{this.name}}"
                type="video/{{this.format}}"
              />
              Your browser does not support the video tag.
            </video>
          {{/if}}
          {{! End Video }}
        </div>
      {{/each}}
      {{! End Each Files }}
    </div>
    {{! End Files Container }}
  </section>
  <div class="clear" style="clear: both;"></div>
  {{! End  Section}}
</div>