<div class="container">
  <div class="container">
    <div class="row">
      <div class="col-3 bg-secondary">
        <aside>
          <h3 class="text-white text-center display-5">Folders</h3>
          <form class="m-2" action="/app/create-folder" method="post">
            <input
              class="form-control mb-2"
              type="text"
              name="folder"
              placeholder="create folder"
              required
            />
            <div
              class="text-center text-primary"
              style="display: none;"
              id="loading-folder"
            >
              <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
            {{#if showMessageFolder.state}}
              <div class="col-12">
                <div
                  class="alert alert-warning d-flex align-items-center"
                  role="alert"
                >
                  <svg
                    class="bi flex-shrink-0 me-2"
                    width="24"
                    height="24"
                    role="img"
                    aria-label="Warning:"
                  ><use xlink:href="#exclamation-triangle-fill"></use></svg>
                  <div>
                    folder already exists,
                    <a
                      href="/app/{{showMessageFolder.folder}}"
                      class="alert-link"
                    >click here to open
                    </a>
                  </div>
                </div>
              </div>
            {{/if}}
            <input style="display: none;" name="url" value="{{url}}" />
            <input
              type="submit"
              class="form-control bg-info"
              value="create"
              id="folder-input"
              onclick="showSpinner()"
            />
          </form>
          <nav class="nav flex-column">
            {{#each FOLDERS}}
              <div class="container">
                <a
                  href="/app/{{this.name}}"
                  class="nav-link text-info float-start"
                  id="{{this.name}}"
                >{{this.name}}</a>
                <button
                  type="button"
                  class="btn btn-danger float-end"
                  onclick="deleteFolder('{{this.name}}')"
                >delete</button>
              </div>
            {{/each}}
          </nav>
          <div class="folder-list">
            <ul>
            </ul>
          </div>
        </aside>
      </div>
      <div class="col-9 bg-light">
        <h2 class="display-2 text-capitalize text-center">
          {{url}}
        </h2>
        <form
          class="row g-3"
          action="/app/upload-file"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="row">
            <div class="col-12">
              <input
                class="form-control form-control-lg"
                type="file"
                name="file[file]"
                id="formFile"
                required
              />
            </div>
            {{#if showMessage}}
              <div class="col-12">
                <div
                  class="alert alert-warning d-flex align-items-center"
                  role="alert"
                >
                  <svg
                    class="bi flex-shrink-0 me-2"
                    width="24"
                    height="24"
                    role="img"
                    aria-label="Warning:"
                  ><use xlink:href="#exclamation-triangle-fill"></use></svg>
                  <div>
                    Only Video, Images and Audio files allow
                  </div>
                </div>
              </div>
            {{/if}}
            <div class="col-12">
              <input
                type="submit"
                class="form-control form-control-sm bg-info"
                value="Upload"
              />
            </div>
          </div>
          <div class="mb-3">
            {{! <label for="formFile" class="form-label">Choose a file</label> }}
          </div>
          <input style="display: none;" name="url" value="{{url}}" />
        </form>
        {{! Files Container }}
        {{#each files}}
          <div class="m-3 float-start col-3">
            {{! For Images }}
            {{#if this.isImage}}
              <img
                src="/images/{{this.url}}/{{this.name}}"
                alt="Not Found"
                class="img-thumbnail rounded"
              />
            {{/if}}
            {{! End Images }}
            {{! For Audios }}
            {{#if this.isAudio}}
              <p>{{this.name}}</p>
              <audio controls>
                <source
                  src="/images/{{this.url}}/{{this.name}}"
                  type="{{this.type}}/{{this.format}}"
                />
                Your browser does not support the audio element.
              </audio>
            {{/if}}
            {{! End Audio }}
            {{! For Videos }}
            {{#if this.isVideo}}
              <video class="container-md" controls>
                <source
                  src="/images/{{this.url}}/{{this.name}}"
                  type="video/{{this.format}}"
                />
                Your browser does not support the video tag.
              </video>
            {{/if}}
            {{! End Video }}
            <button
              type="button"
              class="btn btn-danger btn-sm"
              onclick="deleteFile('{{this._id}}')"
            >Delete</button>
          </div>
        {{/each}}
        {{! End Each Files }}
      </div>
    </div>

    {{! End Files Container }}
  </div>
  {{! End  Section}}
  <div class="clear" style="clear: both;"></div>
</div>